<h1>My orders</h1>

<ul>
  <% @my_orders.each do |order| %>
    <li>
      <%= order.date %> | Order: <%= order.work_asked %> in <%= order.location %> | Price: <%= order.performance.price %>€
    </li>
  <% end %>
</ul>

<h1>My Bookings</h1>


<ul>
  <% @my_bookings.each do |booking| %>
    <li> <%= booking.date %> || <%= booking.location %> || <%= booking.work_asked %> || Status: <%= booking.status %> </li>
  <% end %>
</ul>
