<div class="container">
  <div class="orders">
    <h1>My orders</h1>
    <ul class="list-unstyled" style="margin-left: 30px">
      <% @my_orders.each do |order| %>

        <li class="card-order row">
          <div class="avatar col-xs-2">
            <%= link_to(user_path(order.customer)) do %>
            <%= image_tag order.customer.avatar, class: "avatar-dash"%>
            <% end %>
          </div>
          <div class="card-no-avatar">
            <div class="infos col-offset-2 col-xs-4 ">
              <%= order.customer.username %>
              <p> <%= order.date %> in <%= order.location %> </p>
              Order: <p><%= order.work_asked %> </p>
            </div>
            <div class="price col-xs-2">
              <%= order.performance.price %>€
            </div>
            <div class="validation col-xs-2">
              <i class="fas fa-times"></i>

            </div>
          </div>


        </li>
      <% end %>
    </ul>
  </div>

  <% if @my_bookings.count > 0 %>
    <div class="bookings">
      <h1>My Bookings</h1>
      <ul class="list-unstyled" style="margin-left: 30px">
        <% @my_bookings.each do |booking| %>
          <li class="card-order">
            <div class="avatar col-xs-2">
              <%= link_to(user_path(booking.customer)) do %>
              <%= image_tag booking.customer.avatar, class: "avatar-dash"%>
              <% end %>
            </div>
            <div class="card-no-avatar">
              <div class="infos col-offset-2 col-xs-4 ">
                <%= booking.customer.username %>
                <p> <%= booking.date %> in <%= booking.location %> </p>
                Order: <p><%= booking.work_asked %> </p>
              </div>
              <div class="price col-xs-2">
                <%= booking.performance.price %>€
              </div>
              <div class="validation col-xs-2">
                <i class="fas fa-check"></i>
                <i class="fas fa-times"></i>

              </div>
            </div>


          </li>
        <% end %>
      </ul>
    </div>
  <% end %>






</div>
