<div class="container">
  <% if @my_bookings.count > 0 %>
    <div class="bookings">
      <h1>My Bookings</h1>
      <ul class="list-unstyled row" style="margin-left: 30px">
        <% @my_bookings.each do |booking| %>
          <li>
            <div class="card-booking col-xs-12 col-sm-4 col-md-4">
              <%= link_to(user_path(booking.customer)) do %>
              <%= image_tag booking.customer.avatar, class: "avatar-dash"%>
              <% end %>
              <div class="card-username">
                <%= booking.customer.username %>
              </div>
              <div class="card-work">
                <h3><%= booking.performance.description %></h3>
                <p><%= booking.work_asked %></p>
                <h1>MAP</h1>
              </div>
              <div class="card-price-status">
                <h2><%= booking.performance.price %> €</h2>
                <h2><%= booking.status %></h2>
              </div>
              <div class="validation">
                <% if booking.status == "Pending" %>
                  <div>
                    <%= simple_form_for(booking, url: booking_path, method: "patch") do |f| -%>
                      <%= f.input :status, input_html: {value: "Accepted"}, as: :hidden%>
                      <%= f.input :id, value: booking.id, as: :hidden %>
                      <%= button_tag type: 'submit', class: "submit-icon" do %>
                        <i class="fa fa-check"></i>
                      <% end %>
                    <% end -%>
                  </div>
                  <div>
                    <%= simple_form_for(booking, url: booking_path, method: "patch") do |f| -%>
                      <%= f.input :status, input_html: {value: "Declined"}, as: :hidden%>
                      <%= f.input :id, value: booking.id, as: :hidden %>
                      <%= button_tag type: 'submit', class: "submit-icon" do %>
                        <i class="fa fa-times"></i>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
                <% if booking.status == "Accepted" %>
                  <%= simple_form_for(booking, url: booking_path, method: "patch") do |f| -%>
                    <%= f.input :status, input_html: {value: "Cancelled"}, as: :hidden%>
                    <%= f.input :id, value: booking.id, as: :hidden %>
                    <%= button_tag type: 'submit', class: "submit-icon" do %>
                      <i class="fa fa-ban"></i>
                    <% end %>
                  <% end -%>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="orders">
    <h1>My Orders</h1>
    <ul class="list-unstyled row" style="margin-left: 30px">
      <% @my_bookings.each do |booking| %>
        <li>
          <div class="card-booking col-xs-12 col-sm-4 col-md-4">
            <%= link_to(user_path(booking.customer)) do %>
            <%= image_tag booking.customer.avatar, class: "avatar-dash"%>
            <% end %>
            <div class="card-username">
              <%= booking.customer.username %>
            </div>
            <div class="card-work">
              <h3><%= booking.performance.description %></h3>
              <p><%= booking.work_asked %></p>
              <h1>MAP</h1>
            </div>
            <% if booking.status == "Pending" %>
              <h2><%= booking.performance.price %> €</h2>
              <h2><%= booking.status %></h2>
            <% else %>
              <div class="card-price-status">
                <h2><%= booking.performance.price %> €</h2>
                <h2><%= booking.status %></h2>
              </div>
            <% end %>
            <div class="validation">
              <% if booking.status == "Accepted" %>
                <%= simple_form_for(booking, url: booking_path, method: "patch") do |f| -%>
                  <%= f.input :status, input_html: {value: "Cancelled"}, as: :hidden%>
                  <%= f.input :id, value: booking.id, as: :hidden %>
                  <%= button_tag type: 'submit', class: "submit-icon" do %>
                    <i class="fa fa-ban"></i>
                  <% end %>
                <% end -%>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>


  </div>

</div>

