<div class="header-edit">
    <%= image_tag @user.avatar, alt: "Avatar", class: "avatar-edit" %>
  <div class="header-text">
      <h1> <%= @user.username %> </h1>
      <p> - <em>Edit here your own profile page</em> 🤔</p>
  </div>
</div>



<div class="container">
  <div class="wrapper-edit">
    <div class="title-card">
      <h2> My Bio </h2>
      <%= link_to "", "#", class: "fas fa-pen-square edit-pen", id:"edit-bio-btn" %>
    </div>
    <p> <%= @user.bio %> </p>
    <div id="edit-form-bio" class="hidden">
      <%= simple_form_for(@user) do |f| %>
        <%= f.input :bio %>

          <button type= "submit" class='edit-btn'>
            <i class="fas fa-check-square"></i>
          </button>
      <% end %>
    </div>
  </div>




  <div class="wrapper-edit container-fluid">
    <div class="row">
      <div class="title-card">
       <h2> My Perfs</h2>
        <%= link_to "", "#", class: "fas fa-plus-square add-plus", id: "create-perf-btn" %>
      </div>
      <div id="add-perf-form" class="hidden">
        <%= simple_form_for(@performance) do |f| %>
          <%= f.input :description %>
          <%= f.input :price %>
          <%= f.submit "Create Performance", class: "edit-btn" %>
        <% end %>
      </div>
      <%  @user.performances.each do |performance|%>
        <div class="card-performance">
          <h3> <%=  performance.description %> </h3>
          <h4> Price: <%= performance.price %> </h4>
          <%= link_to "", "#", class: "fas fa-pen-square edit-pen" %>
          <div id="edit-perf-form" class="hidden">

          <%= simple_form_for(performance) do |f| %>
            <%= f.input :description %>
            <%= f.input :price %>
            <%= f.submit "Create Performance", class: "edit-btn" %>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="wrapper-edit">
    <div class="title-card">
      <h2> My Photos</h2>
      <%= link_to "Add", "#", class: "add-btn" %>
    </div>

    <div class="row">
    <% @user.photos.each do |photo|%>
      <div class="card-photos col-xs-4">
        <div class= "photo-style" style= "background-image : url('<%= cl_image_path photo.artist_photo %>')"></div>

        <div class="overlay">
          <div class="delete-photos">
          <%= link_to "", photo_path(photo), method: :delete, class: "fas fa-trash trash-btn" %>
          <p> Delete </p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
      <%= simple_form_for([@user, @photo]) do |f| %>
        <!-- [...] -->
        <%= f.input :artist_photo %>
        <%= f.input :artist_photo_cache, as: :hidden %>
        <!-- [...] -->
        <%= f.submit "Add Photo" %>
      <% end %>
  </div>
</div>

