<% unless @user.photos.empty? %>
  <div class="banner-photo" style="background-image: url('<%= cl_image_path @user.photos.first.artist_photo %>'); background-position: center;">
  </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="artist-identity">
        <%= image_tag @user.avatar, alt: @user.username, class: "avatar-large" %>
        <div class="artist-infos">
          <h1><%= @user.username %></h1>
          <p><%= @user.location %></p>
        </div>
      </div>

      <div class="artist-bio">
        <h2>Who am I?</h2>
        <p><%= @user.bio %></p>
      </div>

      <div class="artist-perfs">
        <h2>My performances</h2>
        <ul class="list-unstyled">
          <% @user.performances.each_with_index do |performance, index| %>
            <%= link_to "", class:"js-perf-link", data:{performanceId: performance.id, perfName: performance.description} do %>
              <% if index == 0 %>
                <li class="performance selected-perf">
              <% else %>
                <li class="performance">
              <% end %>
              <!-- <li class="performance"> -->
                  <div class="perf-desc">
                    <p><strong><%= performance.description %></strong></p>
                  </div>
                  <div class="perf-price">
                    <p><%= performance.price %> €</p>
                  </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="artist-photos">
        <h2>Have a look at my work!</h2>
        <div class="row">
          <% @user.photos.each do |photo| %>
            <div class="col-xs-12 col-sm-4">
              <div class="photo" style="background-image: url('<%= cl_image_path photo.artist_photo %>');">
                <%= link_to "", cl_image_path(photo.artist_photo), class: "photo-link", target: "_blank" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="booking-form">
        <% if @user.performances.first.nil? %>
          <h2 class="text-center">You can't book me yet, sorry!</h2>
        <% else %>
          <h2 class="text-center">Book me for <span id="booking-title"><%= @user.performances.first.description %></span></h2>
          <%= simple_form_for @booking do |f| %>
            <%= f.hidden_field :performance_id, value: @user.performances.first.id %>
            <%= f.input :date, as: :string, required: true, input_html: {class: "datepicker"} %>
            <%= f.input :location, required: true %>
            <%= f.input :work_asked %>
            <%= f.button :submit, "Book now!", id:"booking-button", class:"btn btn-booking"%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
