


<div class="banner" style="background-image: url('http://bit.ly/2HwhFdx');">
  <div class="banner-content">
    <br>
    <br>
    <br>
    <br>
    <h1>Pimp My Wall</h1>
    <p>make your wall unique</p>
    <!-- <a class="btn success-color" href="#">Search</a> -->
  </div>
</div>


<div class="container">
  <% @users.each do |artist| %>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-6">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url(<%= artist.photos[0]%>)" >
        <div class="card-content" >
          <div class="username">
            <p>by <%= link_to "#{artist.username}", user_path(artist) %></p>
          </div>
          <div class="avatar">
            <%= image_tag artist.avatar, alt:"avatar", class: "avatar_circle" %>
          </div>
          <div class="location">
            <p><%= artist.location %> <i class="fas fa-map-marker-alt"></i></p>
          </div>
        <a class="card-link" href=<%= user_path(artist) %>></a>
        </div>
      </div>
   <!-- <div class="bio">
          <p><%= artist.bio %></p>
        </div> -->
    </div>
  <% end %>
  </div>
</div>



